{{ partial "header.html" . }}
<h2 class="ui header">Business Functions</h2>
<div class="ui stackable five column grid">
  {{ range $business_function_key, $business_function := .Site.Taxonomies.business_functions }}
  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <h4 class="ui header">
          <i class="{{ index $.Site.Data.business_function_icons $business_function_key }} icon"></i>
          <div class="content">
            {{ title $business_function_key }}
          </div>
        </h4>
      </div>
        <div class="ui attached fluid vertical menu">
          {{ range $business_function.Pages }}
          <a href="{{ .Permalink}}" class="teal item">{{ .LinkTitle }}</a>
          {{ end }}
        </div>
    </div>
  </div>
  {{ end }}
</div>
{{ partial "footer.html" . }}
